body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#container {
    width: 772px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: auto;
}

#container a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    background-image: url("img/button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bold;
}

#container a:hover {
    color: black;
    /* background-color: #59b6f5;*/
}

#no1 {
    width: 190px;
    line-height: 60px;
    margin: auto;
    border-radius: 10px;
}

#line1 {
    font-size: 0;
    width: 5px;
    height: 40px;
    color: #fff;
    background-color: #000000;
    margin: auto;
}

#line2 {
    font-size: 0;
    width: 424px;
    height: 5px;
    color: #fff;
    background-color: #000000;
    margin: auto;
}

#line3, #line9 {
    font-size: 0;
    display: inline;
    width: 5px;
    height: 20px;
    color: #fff;
    background-color: #000000;
    margin-left: 174px;
    float: left;
}

#line4, #line10 {
    font-size: 0;
    display: inline;
    width: 5px;
    height: 20px;
    color: #fff;
    background-color: #000000;
    margin-left: 205px;
    float: left;
}

#line5, #line11 {
    font-size: 0;
    display: inline;
    width: 5px;
    height: 20px;
    color: #fff;
    background-color: #000000;
    margin-left: 204px;
    float: left;
}

#line6 {
    font-size: 0;
    display: inline;
    width: 5px;
    height: 75px;
    color: #fff;
    background-color: #000000;
    margin-left: 108px;
    float: left;
}

#no2, #no7 {
    display: inline;
    clear: both;
    margin-left: 86px;
    margin-top: auto;
    float: left;
}

#no2 a, #no4 a, #no8 a {
    width: 190px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#no3 {
    display: inline;
    border: 1px solid #000;
    margin-left: 58px;
    float: left;
}

#no3 a, #no5 a, #no6 a, #no7 a, #no9 a, #no10 a {
    width: 190px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#no4 {
    display: inline;
    border: 1px solid #000;
    margin-left: 53px;
    float: left;
}

#no5 {
    display: inline;
    margin-left: 97px;
    float: left;
}

#line7 {
    font-size: 0;
    width: 5px;
    height: 40px;
    color: #fff;
    background-color: #000000;
    margin: auto;
}

#line8 {
    font-size: 0;
    width: 424px;
    height: 5px;
    color: #fff;
    background-color: #000000;
    margin: auto;
}

#no6 {
    width: 190px;
    line-height: 60px;
    margin: auto;
    border-radius: 10px;
}

#no8{
    display: inline;
    margin-left: 10px;
    float: left;
}
#no9{
    display: inline;
    margin-left: 10px;
    float: left;
}

#line12 {
    font-size: 0;
    display: inline;
    width: 5px;
    height: 50px;
    color: #fff;
    background-color: #000000;
    margin-left: 120px;
    float: left;
}

#line13{
    font-size: 0;
    display: inline;
    width: 5px;
    height: 50px;
    color: #fff;
    background-color: #000000;
    margin-left: 205px;
    float: left;
}

#line14{
    font-size: 0;
    display: inline;
    width: 100px;
    height: 5px;
    color: #fff;
    background-color: #000000;
    float: left;
    margin-top: 20px;
}

#line15{
    font-size: 0;
    display: inline;
    width: 5px;
    height: 31px;
    color: #fff;
    background-color: #000000;
    margin-left: -5px;
    float: left;
    margin-top: 20px;
}

#line16{
    font-size: 0;
    display: inline;
    width: 5px;
    height: 50px;
    color: #fff;
    background-color: #000000;
    margin-left: 200px;
    float: left;
}

#no10{
    display: inline;
    margin-left: 10px;
    float: left;
}

#no11, #no12, #no13 {
    display: inline;
    margin-left: 10px;
    float: left;
}

#no11 a, #no12 a,#no13 a,#no14 a,#no15 a{
    width: 174px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#line17 {
    font-size: 0;
    display: inline;
    width: 5px;
    height: 50px;
    color: #fff;
    background-color: #000000;
    margin-left: 325px;
    float: left;
    margin-top: -6px;
}
#line18 {
    font-size: 0;
    display: inline;
    width: 5px;
    height: 50px;
    color: #fff;
    background-color: #000000;
    margin-left: 305px;
    float: left;
    margin-top: -6px;
}

#no14{
    display: inline;
    float: left;
    margin-left: 235px;
}
#no15{
    display: inline;
    float: left;
    margin-left: 150px;
}

.clear {
    clear: both;
}


@keyframes flip {
    from {
        transform: perspective(400px) rotateY(0);
    }
    to {
        transform: perspective(400px) rotateY(180deg);
    }
}

/* Apply the animation to the text */
#no1 {
    perspective: 1000px;
}

.flip-animation {
    animation: flip 0.6s ease;
}


@media only screen and (max-width: 992px) {
    body {
        min-height: 200vh;
    }
    #container a:hover {
        color: #ffffff !important;
        /* background-color: #59b6f5;*/
    }
}

.container {
    width: 1170px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar,
.navbar > .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .navbar,
    .navbar > .container {
        display: block;
    }
}

.navbar {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #bfecff;
    padding: 1rem 1.15rem;
    border-bottom: 1px solid #bfecff;
    margin-bottom: 0 !important;
    z-index: 99;
    position: fixed;
}
@media (min-width: 576px) {
    .navbar .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .navbar .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .navbar .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .navbar .container {
        max-width: 1140px;
    }
}
.navbar .navbar-header {
    display: flex;
    align-items: center;
}
@media (max-width: 768px) {
    .navbar .navbar-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}
.navbar .navbar-header .navbar-toggler {
    cursor: pointer;
    border: none;
    display: none;
    outline: none;
    padding: 10px;
    background: transparent;
}
@media (max-width: 768px) {
    .navbar .navbar-header .navbar-toggler {
        display: block;
    }
    .facebook{
        margin-left: 70px;
    }
}
.navbar .navbar-header .navbar-toggler span {
    height: 2px;
    width: 22px;
    background-color: #0b2c5f;
    display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
    margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
    font-weight: 500;
    color: #3c4250;
}
.navbar .navbar-menu {
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
}
@media (max-width: 768px) {
    .navbar .navbar-menu {
        display: none;
    }
}
.navbar .navbar-menu.active {
    display: flex !important;
}
.navbar .navbar-menu .navbar-nav {
    margin-left: auto;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
@media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav {
        width: 100%;
        display: block;
        border-top: 1px solid #EEE;
        margin-top: 1rem;
    }
}
.navbar .navbar-menu .navbar-nav > li > a {
    color: #2770b5;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 2rem;
    font-size: 18px;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
    color: #66f;
}
@media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav > li > a {
        border-bottom: 1px solid #eceef3;
        padding: 0.5rem 0;
    }
    #facebook{
        display: none;
    }
    #instagram{
        display: none;
    }
}
.navbar .navbar-menu .navbar-nav > li.active a {
    color: #66f;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    list-style: none;
    position: absolute;
    top: 150%;
    left: 0;
    background-color: #bfecff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: 160px;
    width: auto;
    white-space: nowrap;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 99999;
    border-radius: 0.75rem;
    display: none;
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
    color: #2770b5;
    padding: 0.5rem 1rem;
    display: block;
    font-size: 18px;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
    display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
    height: 1px;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: #eceef3;
}
.navbar .navbar-dropdown {
    position: relative;
}

.navbar .navbar-header > a span {
    color: #66f;
}

/*@media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
        position: relative;
        box-shadow: none;
    }
    .navbar {
        padding: 0 !important;
    }
    #no1{
        width: 120px;
    }
    a{
        padding: 0;
    }
    #line2{
        width: 255px;
    }
    #line3{
        margin-left: 68px;
    }
    #line4{
        margin-left: 245px;
    }
    #no2{
        margin-top: -23px;
        margin-left: 5px;
    }
    #no2 a {
        width: 150px;
    }
}*/

